@model OnlineStore.Models.Shoppingcart

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1>Edit</h1>

<h4>Shoppingcart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Shoppingcartid" />
            <div class="form-group">
                <label asp-for="Userid" class="control-label"></label>
                <select asp-for="Userid" class="form-control" asp-items="ViewBag.Userid"></select>
                <span asp-validation-for="Userid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productid" class="control-label"></label>
                <select asp-for="Productid" class="form-control" asp-items="ViewBag.Productid"></select>
                <span asp-validation-for="Productid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colorid" class="control-label"></label>
                <select asp-for="Colorid" class="form-control" asp-items="ViewBag.Colorid"></select>
                <span asp-validation-for="Colorid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sizeid" class="control-label"></label>
                <select asp-for="Sizeid" class="form-control" asp-items="ViewBag.Sizeid"></select>
                <span asp-validation-for="Sizeid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

