
@{
    ViewData["Title"] = "AboutUS";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a asp-action="Index" asp-controller="Home">Home</a>
                            </li>
                            <li class="is-marked">

                                <a asp-action="AboutUS" asp-controller="Home">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="about">
                            <div class="about__container">
                                <div class="about__info">
                                    <h2 class="about__h2">Welcome to She&He Store!</h2>
                                    <div class="about__p-wrap">
                                        <p class="about__p">

                                            Welcome to She&He Store, your ultimate fashion destination where style meets substance!

                                            At She&He Store, we believe that fashion is a form of expression and a celebration of individuality. Founded with the vision of providing the latest trends in fashion and accessories to style-conscious individuals, our store offers an extensive collection of clothing and accessories for both men and women.

                                            **Our Mission**
                                            Our mission is to empower you to make bold fashion choices that reflect your unique personality. We handpick our collections to ensure that they not only capture the essence of contemporary style but also maintain the highest standards of quality. We want you to feel confident and inspired every day, with attire that is as versatile as it is vibrant.

                                            **Our Collection**
                                            From chic dresses to sophisticated accessories, our products are designed to add a touch of glamour and finesse to your wardrobe. We cater to all occasions, moods, and preferences. Whether you're looking for the perfect outfit for a special occasion, casual wear for your daily adventures, or statement accessories to elevate your look, She&He Store has something for everyone.

                                            **Quality and Affordability**
                                            Quality fashion should not come at an inaccessible price. At She&He Store, we strive to make high fashion affordable and accessible to all. Our pricing is competitive, and we offer a range of options to suit every budget without compromising on quality or style.

                                            **Join Our Community**
                                            She&He Store is more than just a place to shop; it's a community of fashion lovers who celebrate the joy of dressing up and the confidence that comes with it. We invite you to join our community and share your style stories with us.

                                            We are excited to have you here and can't wait to be a part of your style journey. Happy shopping at She&He Store, where fashion-forward is the way forward!


                                        </p>
                                    </div>

                                    <a class="about__link btn--e-secondary" href="index.html" target="_blank">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
</div>
<!--====== End - App Content ======-->
