
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a asp-action="Index" asp-controller="Home">Home</a>
                            </li>
                            <li class="is-marked">

                                <a asp-action="FAQ" asp-controller="Home">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="faq">
                            <h3 class="faq__heading">FREQUENTLY QUESTIONS</h3>
                            <h3 class="faq__heading">Below are frequently asked questions, you may find the answer for yourself.</h3>
                            <p class="faq__text">
                                Welcome to our FAQ section, where we aim to resolve your queries and provide clarity on our services and processes. We understand that questions can arise at any stage of your experience with us, and we are here to offer quick and helpful responses. Whether you're wondering about order status, product information, or our return policies, we have gathered the most common inquiries to ensure you find what you need. If your question is not addressed below, please feel free to reach out to our customer support team, who are always ready to assist you with personalized guidance
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
    <!--====== Section 3 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="faq-accordion-group">
                            <div class="faq__list">

                                <a class="faq__question collapsed" href="#faq-1" data-toggle="collapse">How can I get discount coupon ?</a>
                                <div class="faq__answer collapse" id="faq-1" data-parent="#faq-accordion-group">
                                    <p class="faq__text">We're thrilled to offer you exclusive discounts to enhance your shopping experience! Our current coupons are prominently displayed on our homepage and are refreshed regularly, so you know exactly what savings are available at a glance. These special offers are only a click away and can be applied directly to your order at checkout. Stay tuned to our website for the latest deals and enjoy the rewards of shopping with us!</p>
                                </div>
                            </div>
                            <div class="faq__list">

                                <a class="faq__question collapsed" href="#faq-2" data-toggle="collapse">Do I need to create account for buy products ?</a>
                                <div class="faq__answer collapse" id="faq-2" data-parent="#faq-accordion-group">
                                    <p class="faq__text">Absolutely! To ensure a seamless and secure shopping experience, we require all customers to create an account with us. Your account allows you to track your orders, manage your shipping details, and access exclusive offers. Plus, it makes your future purchases a breeze by storing your preferences. Signing up is quick and easy, and it's a one-time process that enhances your shopping journey with us every time.</p>
                                </div>
                            </div>
                            <div class="faq__list">

                                <a class="faq__question collapsed" href="#faq-3" data-toggle="collapse">How can I track my order ?</a>
                                <div class="faq__answer collapse" id="faq-3" data-parent="#faq-accordion-group">
                                    <p class="faq__text">Keeping an eye on your order is straightforward and user-friendly. Once you're logged into your account, simply navigate to the 'My Orders' section on your dashboard for a comprehensive view of all your purchases. For detailed tracking, click on the 'Track Your Order' option and enter your Order ID. You'll be provided with real-time updates regarding the status of your order, including stages like 'Pending', 'Shipping', and 'Delivered'. This feature ensures you're informed every step of the way until your order reaches your doorstep.</p>
                                </div>
                            </div>
                            <div class="faq__list">

                                <a class="faq__question collapsed" href="#faq-4" data-toggle="collapse">
                                    How to Make an Order?

                               </a>
                                <div class="faq__answer collapse" id="faq-4" data-parent="#faq-accordion-group">
                                    <p class="faq__text">
                                        Making a purchase on our platform is a simple and intuitive process. Begin by exploring our extensive range of clothing and accessories to find your desired items. For each product, you'll have the option to view more details, choose your preferred size and color, and add the item to your cart. If you're not quite ready to buy but don't want to lose track of something you like, you can easily add it to your wishlist for future consideration.

                                        To proceed with your purchase, make sure you have created an account with us, as this is necessary to add items to your cart. Once you've selected all your products, visit your cart to review your choices, make any final adjustments, or remove items you no longer wish to purchase. When you're ready, click on 'Proceed to Checkout.'

                                        At checkout, select your preferred payment method. We accept various options for your convenience, including credit card payments and other secure online payment systems. If you have a discount coupon, don't forget to apply it to your order to enjoy savings. Finally, enter your payment details with confidence, knowing that your transaction is secure.

                                        Upon completing your purchase, a confirmation will be sent to your email, including the order ID and all relevant details, ensuring that you can track your order's progress until it arrives at your doorstep.
                                    </p>
                                </div>
                            </div>
                            <div class="faq__list">

                                <a class="faq__question collapsed" href="#faq-5" data-toggle="collapse">
                                    How to contact us?

                                </a>
                                <div class="faq__answer collapse" id="faq-5" data-parent="#faq-accordion-group">
                                    <p class="faq__text">Reaching out to us is straightforward and convenient. If you have any questions, suggestions, or need assistance, feel free to fill out our contact form available on this page. Simply enter your name, email, and your message, and our dedicated support team will get back to you promptly. For immediate assistance, you can also find our customer service email and phone number below. We are committed to providing you with exceptional service and support, no matter your inquiry.</p>
                                </div>
                            </div>
                            <div class="faq__list">

                                <a class="faq__question collapsed" href="#faq-7" data-toggle="collapse">What Payment Methods are Available ?</a>
                                <div class="faq__answer collapse" id="faq-7" data-parent="#faq-accordion-group">
                                    <p class="faq__text">We offer a variety of payment options to ensure a seamless shopping experience. For online transactions, you can pay using major credit cards . For those who prefer offline transactions, we provide the convenience of 'Pay on Delivery,' which allows you to make a payment at the time of delivery, ensuring peace of mind and satisfaction with your purchase before payment. We strive to accommodate all our customers' preferences to make shopping with us both comfortable and secure.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 3 ======-->
</div>
<!--====== End - App Content ======-->
