@model OnlineStore.Models.Coupon

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Create</h1>

<h4>Coupon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Couponcode" class="control-label"></label>
                <input asp-for="Couponcode" class="form-control" />
                <span asp-validation-for="Couponcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discountpercentage" class="control-label"></label>
                <input asp-for="Discountpercentage" class="form-control" />
                <span asp-validation-for="Discountpercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdate" class="control-label"></label>
                <input asp-for="Startdate" class="form-control" />
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enddate" class="control-label"></label>
                <input asp-for="Enddate" class="form-control" />
                <span asp-validation-for="Enddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

