@model OnlineStore.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Productid" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoryid" class="control-label"></label>
                <select asp-for="Categoryid" class="form-control" asp-items="ViewBag.Categoryid"></select>
                <span asp-validation-for="Categoryid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productstatus" class="control-label"></label>
                <input asp-for="Productstatus" class="form-control" />
                <span asp-validation-for="Productstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagepath" class="control-label"></label>
                <input asp-for="Imagepath" class="form-control" />
                <span asp-validation-for="Imagepath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producttypeid" class="control-label"></label>
                <select asp-for="Producttypeid" class="form-control" asp-items="ViewBag.Producttypeid"></select>
                <span asp-validation-for="Producttypeid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrivaldate" class="control-label"></label>
                <input asp-for="Arrivaldate" class="form-control" />
                <span asp-validation-for="Arrivaldate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

